.navbarIcons{
    height: 50px;;
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.Icon{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height:auto;
}
