#iconFooter{
    position: absolute;
    transform: translateY(-5px);
    bottom: 0;
    z-index: 30;
    margin-left: 150px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background: #fff;
}
#iconFooter i{
    font-size: 55px;
    transform: translateX(-5px);
}