
.background{
    background: linear-gradient( #5BC5BC, #ffff, #fff); 
    height: 90vh;
    width: 100%;
}
.form{
    padding-top: 130px;
}

.input{
    
    margin-left:10px;
    border-top:none;
    border-left: none;
    border-right: none;
    max-width: 90%;
    min-width: 200px;
}
.input2{
    margin-left:10px;
    border-top:none;
    border-left: none;
    border-right: none;
    width: 90%;
    
}
.email{
    font-family: 'Roboto', sans-serif;
    color:gray;
    margin-left:10px;
   
}

.password{
    font-family: 'Roboto', sans-serif;
    color:gray; 
    margin-left:10px;
    margin-top:15px;
}

.text{
    font-family: 'Roboto', sans-serif;
    color:gray; 
    margin-bottom: 15px;
    margin-left: 110px;
}
.btnLogin{
    font-family: 'Roboto', sans-serif; 
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 120px;
}
.btnSingin{
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 5px;
    margin-left: 113px;
}
.logo{
    margin-top:30px;
    margin-left: 95px;
}
.btnsLogin{
    margin-bottom: 5px;
}